@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>


<address>
    <strong>email:</strong> <a href="mailto:nigel.brown@mail.com">nigel.brown@mail.com</a><br />

</address>
